<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IDemoDao" >
  <resultMap id="BaseResultMap" type="com.entity.Demo" >
    <id column="DID" property="did" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DTIME" property="dtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DID, TITLE, DTIME
  </sql>
  
  <select id="selectCount" resultType="java.lang.Long" >
     SELECT COUNT(did) FROM demo 
  </select>
  
  <select id="selectLikeTitle" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT * FROM demo where title like #{title} ORDER BY did ${odtype}
  </select>
  
  <select id="selectPage" resultMap="BaseResultMap" parameterType="java.util.Map">
      SELECT * FROM demo LIMIT #{start},#{size} 
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
      select * from demo 
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from demo
    where DID = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from demo
    where DID = #{did,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Demo" useGeneratedKeys="true" keyProperty="did">
    insert into demo 
    values (default, #{title,jdbcType=VARCHAR}, #{dtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Demo" >
    insert into demo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        DID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="dtime != null" >
        DTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Demo" >
    update demo
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        DTIME = #{dtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DID = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Demo" >
    update demo
    set TITLE = #{title,jdbcType=VARCHAR},
      DTIME = #{dtime,jdbcType=TIMESTAMP}
    where DID = #{did,jdbcType=INTEGER}
  </update>
</mapper>